/* Traemos las fuentes de nuestro servidor */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amita";
  src: url("../fonts/Amita-Bold.woff2") format("woff2"),
    url("../fonts/Amita-Bold.woff") format("woff"),
    url("../fonts/Amita-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Establecemos unos minimos para poder gestionar los elementos*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Aquí establecemos algunas variables */

:root {
  --width_xl: 700px;
  --primary_color: #ffe4c4;
  --secondary_color: #63c4eb;
  --text_color: black;
  --enfasis_color: red;
  --primary_color_transparent: rgb(255, 228, 196, 50%);
}

/* Establecemos unos parametros a la imagen de fondo de la cabecera para que se autoajuste al tamaño y no permita tener nada a su alrededor */

header img {
  width: 100%;
  display: block;
}

/* Establecemos la imagen de fondo en el tag/selector main */

main {
  background-image: url("../img/background.png");
  background-size: contain;

}

/* Establecemos una posición absoluta al logo, para que siempre este en la misma posición en la página */

.header_logo {
  position: absolute;
  left: 4vw;
  top: 2vw;
}

/* Creamos una clase en la que definimos un ancho maximo para los elementos, después la utilizaremos en varioas elemenetos como las secciones, main, footer, nav, etc...*/
.desktop_xl {
  margin: 0 auto;
  max-width: var(--width_xl);
}

/* Definimos el menu con el selector nav, color de fondo posición al mover la pantalla, organización de los elementos con flex, comportamiento de los enlaces */

nav {
  background-color: var(--primary_color);
  position: sticky;
  top: 0px;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    padding: 0.5rem 0;
  }
  a {
    text-decoration: none;
    font-size: 1.25rem;
    color: inherit;
    &:hover {
      border-bottom: 2px solid;
    }
  }
}

/* Establecemos la ubicación de los iconos de acceso multiidioma y configuramos comportamiento de los enlaces */

.idioma {
  height: 0.25rem;
  position: relative;
  a {
    text-decoration: none;
    &:hover {
      border-bottom: none;
    }
  }
  img {
    height: 1.5rem;
    margin: 0.5rem;
  }
}

/* Establecemos la fuente, tamaño y centramos los titulos h1 */

h1 {
  font-family: Amita, Arial, Helvetica, sans-serif;
  padding-top: 2.25rem;
  font-size: 1.75rem;
  text-align: center;
}

/* Definimos la clase destinos, estructura de los articulos con grid, formateo de los titulos y parrafos, comportamiento de los enlaces y posición de imágenes*/

.destinos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding-top: 0.25rem;
  h2 {
    padding: 0.25rem;
    text-align: center;
    a {
      font-family: Amita, Arial, Helvetica, sans-serif;
      font-size: 1rem;
      text-decoration: none;
      color: inherit;
      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
  p {
    font-size: 0.75rem;
    padding-bottom: 2rem;
  }
  img {
    width: 100%;
    display: block;
    padding: 0 5px;
  }
}

/* Definimos el fondo del siguiente bloque ligeramente transparente y el color de los títulos de la sección y los artículos*/

.fondo_transparente {
  background-color: var(--primary_color_transparent);
  color: var(--secondary_color);
  padding: 1rem;
}

/* Vamos a por los servicios, los estructuramos con flex y dentro de cada elemento volvemos a utilizar flex así vemos el funcionamiento en distintos puntos */

.servicios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 1.35rem;
  /* Organizamos cada elemento y establecemos unas medidas */
  div { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
    width: 215px;
    height: 220px;
  }
  /* Los titulos con el tipo de letra, tamaños y alineaciones */
  h2 {
    font-family: Amita, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.35rem;
  }
  /* Tamaños de imágenes y bordes de las mismas para que se vean bien */
  img {
    max-width: 50px;
    max-height: fit-content;
    display: block;
    padding: 0.25rem;
  }
  /* Tamaños colores y alineaciones de los parrafos*/
  p {
    font-size: 0.75rem;
    color: var(--text_color);
    text-align: left;
    padding: 0 0.25rem 0.25rem 0.25rem;
  }
}

/* Esta clase es para organizar la sección de quienes somos, volvemos a usar flex */

.quienes_somos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* Definimos tamaño y forma de la imagen */
  img {
    max-width: 350px;
    display: block;
    padding: 1rem;
    border-radius: 50%;
  }
  /* Aquí poco más que tamaño, alineación y color de la fuente */
  p {
    font-size: 0.75rem;
    color: var(--text_color);
    text-align: left;
    padding: 1rem;
  }
}

/* */

.pie_pagina {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary_color);
  /* Establecemos un margen a los div para que no queden pegados a los bordes */
  div {
    margin: 5px;
  }
  /* Establecemos la fuente y tamaño de fuente */
  p {
    font-family: Amita, Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }
  /* Establecemos el comportamiento del logo */
  img {
    max-width: 150px;
    display: block;
  }
  /* Definimos una clase para los logos de las redes sociales, utilizamos grid para colocarlas, estableciendo tamaños para las mismas */
  .rrss_pie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  width: 200px;
  img {
    width: 100%;
    }
  }
}

.articulo_foto {
  padding-top: 0.25rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  h2 {
    padding: 0.25rem;
    text-align: center;
  }
  p {
    font-size: 1.25rem;
    padding: 2rem;
  }
  img {
    width: 100%;
    display: block;
    padding: 0 5px;
  }
}

.articulo_foto2 {
  padding-top: 0.25rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  p {
    font-size: 1.25rem;
    padding: 2rem;
  }
  img {
    width: 100%;
    max-width: 300px;
    display: block;
    padding: 0 5px;
  }
}

.contacto {
  p {
    font-size: 1.25rem;
    padding: 2rem;
  }
  a {
    font-family: Amita, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: inherit;
    &:hover {
      border-bottom: 2px solid;
    }
}
}
