@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amita";
  src: url("../fonts/Amita-Bold.woff2") format("woff2"),
    url("../fonts/Amita-Bold.woff") format("woff"),
    url("../fonts/Amita-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amita";
  src: url("../fonts/Amita-Regular.woff2") format("woff2"),
    url("../fonts/Amita-Regular.woff") format("woff"),
    url("../fonts/Amita-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --width_xl: 700px;
  --primary_color: #ffe4c4;
  --secondary_color: #63c4eb;
  --text_color: black;
  --enfasis_color: red;
  --primary_color_transparent: rgb(255, 228, 196, 50%);
}

header img {
  width: 100%;
  display: block;
}

main {
    background-image: url('../img/background.png');
    background-size: cover;
}

.header_logo {
  position: absolute;
  left: 4vw;
  top: 2vw;
}

.desktop_xl {
  margin: 0 auto;
  max-width: var(--width_xl);
}

h1,
h2 {
  font-family: Amita, sans-serif;
  padding-top: 2.25rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

nav {
  background-color: var(--primary_color);
  position: sticky;
  top: 0px;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    padding: 0.5rem 0;
  }
  a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    &:hover {
      border-bottom: 2px solid; /*var(--enfasis_color) */
      /* color: var(--enfasis_color); */
    }
  }
}

.destinos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding-top: 0.5rem;
  h2 {
    padding-top: 0.5rem;
    font-size: 1.25rem;
  }
  p {
    font-size: 0.75rem;
    padding-bottom: 2rem;
  }
  img {
    width: 100%;
    display: block;
  }
}

.fondo_transparente {
  background-color: var(--primary_color_transparent);
  color: var(--secondary_color);
  padding: 1rem;
}

.servicios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* column-gap: 2rem;
    column-count: auto; */
  row-gap: 1rem;

  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
    width: 215px;
    height: 220px;
  }
  h2 {
    /* font-size: 1.25rem; */
    text-align: center;

    padding-top: 0.25rem;
  }
  img {
    max-width: 50px;
    max-height: fit-content;
    display: block;
    padding: 0.25rem;
  }
  p {
    font-size: 0.75rem;
    color: var(--text_color);
    text-align: left;
    padding: 0 0.25rem 0.25rem 0.25rem;
  }
}

.quienes_somos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

 img {
        max-width: 350px;
        display: block;
        padding: 1rem;
        border-radius: 50%;


    }
    p {
        font-size:0.75rem;
        color: var(--text_color);
        text-align: left;
        padding: 1rem;


    }
}
